NEXT_PUBLIC_CONTRACT_ADDRESS=0xYourContractAddress
OLLAMA_API_KEY=<Your-ollama-api-key>
INVITE_SECRET=super-secret-string
IPINFO_TOKEN=<ip-info-api-key>
NEXT_PUBLIC_SUPABASE_URL=https://<supabase-url>.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=<supabase-anon-key>
